flask
spacy
scikit-learn
joblib
numpy
pandas
gunicorn
tqdm
matplotlib
seaborn
wordcloud
streamlit
scikit-learn
spacy
joblib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
streamlit
scikit-learn
spacy
joblib